
#myHeader {
  color:royalblue;
  padding 20px; 
  font-family: Trebuchet;
  background-color: white;
}

#localVideo {
  height: 100px;
  width: 100px;
}

#myText {
	font-family: Trebuchet;
  	color:royalblue;
}

#myBody {
	background-color: lightgrey;
}